<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <style type="text/css">

        .jumbotron {
            background: none;             /* Transparent background */
        }



.navbar-default {
  background-color:transparent !important;
  border-color:transparent;
  background-image:none;
  box-shadow:none;
}

.bg-dark{
  background-color: transparent;
}

    </style>
  </head>

  <body background="/static/images/b1.jpg">
  <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <span class="navbar-brand"> EarlyBird </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">

          </ul>
          <form class="form-inline mt-2 mt-md-0">

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" > <a href="/signin"> Sign Out </a></button>
          </form>
        </div>
      </nav>
  </header>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" back>
        <div class="container">
        <form method = 'POST' class="form-signin">
            <table id="table1" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for key, value in cust.items() %}
  <tr>
      <td>{{ loop.index }}</td>
      <td><input type="checkbox" name="checked"></td>
      <td>{{ key }}</td>
      <td>{{ value }}</td>

  </tr>
  {% endfor %}
  </tbody>
</table>
          <button class="btn btn-primary btn-lg" > <a href="/">Send Emails</a> </button>

        </form>
        </div>
        </div>
      </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    </main>

  </body>
</html>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="http://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="http://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script>
        var email = []
        function extract_emails(){
            var tableTC = document.getElementById("table1")
            checkboxes = document.getElementsByName("checked")
            for(var i=0; i<checkboxes.length; i++){
                if(checkboxes[i].checked){
                    email.push(tableTC.rows[i+1].cells[3].innerHTML);
            }
        }}


    </script>